FUNCTION :
a function is a block of code that performs a specific task. fucntions help in organizing code, reusing code, and improving readability

In [40]:
def function_name(parameters) :
  """docstring"""
  # funciton body
  return expression

In [41]:
## why functions?

num=24
if num%2==0:
  print("the number is even")
else:
  print("the number is odd")

the number is even

In [42]:
def even_or_odd(num):
  """this function finds even or odd"""
  if num%2==0:
    print("the number is even")
  else:
    print("the number is odd")

In [43]:
## call this function
even_or_odd(25)

the number is odd

In [44]:
## function with multiple parameters

def add (a,b):
  return a+b

result=add(2,4)
print(result)

6

In [45]:
## default parameters

def greet(name):
  print(f"hello {name} welcome to japan")

greet("chetan")

hello chetan welcome to japan

In [46]:
def greet(name="guest"):
  print(f"hello {name} welcome to japan")

greet("chetan")

hello chetan welcome to japan

In [47]:
## variable length arguments
## positional arguments

def print_numbers(*args):
  for number in args:
    print(number)

In [48]:
print_numbers(1,2,3,4,5,6,7,"chetan")

1
2
3
4
5
6
7
chetan

In [49]:
## keyword argument

def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [50]:
print_details(name ="chetan", age ="20", gender="male",country ="india")

name:chetan
age:20
gender:male
country:india

In [51]:
## postional and keyword argument

def print_details(*args,**kwargs):
  for number in args:
    print(f"postional argument : {number}")
  for key,value in kwargs.items():
    print(f"keyword argument : {key}:{value}")

In [52]:
print_details(1,2,3,4,5,6,7,"chetan",name ="chetan", age ="20", gender="male",country ="india")

postional argument : 1
postional argument : 2
postional argument : 3
postional argument : 4
postional argument : 5
postional argument : 6
postional argument : 7
postional argument : chetan
keyword argument : name:chetan
keyword argument : age:20
keyword argument : gender:male
keyword argument : country:india

In [53]:
## return multiple statements
def multiply(a,b):
  return a*b,a
multiply(3,6)

(18, 3)