# **The map function in python**
the map()function applies a given function to all items in an input list(or any other iterable) and returns a map object (an iterator). this is particullarly useful for transforming data in a list comprehensively

In [1]:
def square(x):
  return x*x

square(6)

36

In [5]:
numbers=[1,2,3,4,5,6,7,8]

list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [7]:
## lambda function with map

numbers=[1,2,3,4,5,6,7,8]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [10]:
## map multiple iterables

numbers1=[1,2,3]
numbers2=[4,5,6]

added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2))
print(added_numbers)

[5, 7, 9]

In [13]:
## map() to convert a list of strings to integers

str_numbers = ['1','2','3','4','5','6']
int_numbers = list(map(int,str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5, 6]

In [14]:
words=["apple","kiwi","cherry"]
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE', 'KIWI', 'CHERRY']

In [25]:
def get_name(person):
  return person['name']

people=[
    {'name':'chetan','age':20},
    {'name':'vipin','age':22}
]

list(map(get_name,people))

['chetan', 'vipin']