# **The filter() function in python**
The filter()function constructs an iterator from elements of an iterable for which a function returns true. it is used to filter out items from a list (or any other iterable) based on a condition

In [1]:
def even(num):
  if num%2==0:
    return True

In [2]:
even(26)

True

In [3]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [5]:
## filter with a lambda function

numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9, 10, 11, 12]

In [6]:
## filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8, 10, 12]

In [9]:
## filter() to check if the age is greater than 25 in dictionaries

people=[
    {'name':'chetan','age':20},
    {'name':'vipin','age':22},
    {'name':'virat','age':30},
    {'name':'bhuwneshwar','age':27}
]

def age_greater_than_25(person):
  return person ['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'virat', 'age': 30}, {'name': 'bhuwneshwar', 'age': 27}]