In [2]:
## creating and accessing sets
## example 1: create a set with the first 10 positive integers. print the set

s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
## adding and removing elements
## add the number 11 to the set created in example 1. then remove the number 1 from the set. print the modified set

s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
## set operations
## create two sets: one with the first 5 positive integers and another with the first 5 even inetgers. perform and print the result of union,intersection,diffrence,and symmetric difference operations on these sets.

set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [5]:
## set comprehensions
## create a new set containing the squares of the first 10 positive integers using a set comprehension. print the new set

squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [6]:
## filtering sets
## create a new set containing only the even numbers form the set created in example 1 using a set comprehension. print the new set.

evens = {x for x in s if x % 2 == 0}
print(evens)

{2, 4, 6, 8, 10}

In [7]:
## set methods
## create a set with duplicate elements and remove the duplicates using set methods. print the modified set.

s = {1, 2, 2, 3, 4, 4, 5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

In [8]:
## subset and supersets
## Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

In [9]:
## frozenset
## create a frozenset with the first 5 positive integers. print the frozenset

fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

In [10]:
## set and list conversion
## Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

In [11]:
## set and dictionary
## create a dictionary with set keys and integer values. print the dictionary

d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [12]:
## iterating over sets
## create a set and iterate over the elements, printing each element

s = set(range(1, 6))
for elem in s:
    print(elem)

1
2
3
4
5

In [13]:
## removing elements from sets
## create a set and remove elements from it until it is empty. print the set after each removal.

s = set(range(1, 6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [14]:
## set symmetric difference update
## create two sets and update the first set with the symmetric difference of the two sets. print the modified first set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

In [15]:
## set membership testing
## create a set and test if certain elements are present in the set. print the results.

s = set(range(1, 6))
print(3 in s)
print(6 in s)

True
False

In [16]:
## set of tuples
## create a set containing tuples, where each tuple contains two elements. print the set.

s = { (1, 2), (3, 4), (5, 6) }
print(s)

{(1, 2), (3, 4), (5, 6)}