# Standard Library Overview
Pyhton's standard library is a vast collection of modules and packages that come bundled with python, providing a wide range of functionalities out of the box. here's an overview of some of the most commonly used modules and packages in the python standard library

In [1]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [3]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [8]:
## random

import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

7
cherry

In [9]:
## file and directory access

import os
print(os.getcwd)

<built-in function getcwd>

In [10]:
os.mkdir('test_dir')

In [15]:
## data serialization

import json
data={'name':'chetan','age':21}
json_str=json.dumps(data)
print(json_str)
print(type(json_str))

parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "chetan", "age": 21}
<class 'str'>
{'name': 'chetan', 'age': 21}
<class 'dict'>

In [17]:
## csv

import csv

with open('example.csv',mode='w',newline='') as file:
  writer=csv.writer(file)
  writer.writerow(['name','age'])
  writer.writerow(['chetan',21])

with open('example.csv',mode='r') as file:
  reader=csv.reader(file)
  for row in reader:
    print(row)

['name', 'age']
['chetan', '21']

In [19]:
## datetime

from datetime import datetime,timedelta

now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)

print(yesterday)

2024-07-30 15:42:29.993006
2024-07-29 15:42:29.993006

In [20]:
## time
import time
print(time.time())
time.sleep(2)
print(time.time())

1722354213.9361572
1722354215.9401343

In [22]:
## regular expression

import re
pattern=r'\d+'
text='there are 223 apples '
match=re.search(pattern,text)
print(match.group())

223