# SQL AND SQLITE
SQL (structured querry language) is a standard langurage for mangaing and manipulating relational databases. sqlite is a self-contained ,services,and zero-configuration database engine that iss widely used for embedded databse systems.

In [20]:
import sqlite3

In [21]:
## connect to an sqlite database

connection=sqlite3.connect('exmaple.db')
connection

In [22]:
cursor=connection.cursor()

In [23]:
## create a table

cursor.execute('''
create table if not exists employees(
  id integer primary key,
  name text not null,
  age integer,
  department text
   )
''')

## commit the changes

connection.commit()

In [24]:
cursor.execute('''
select * from employees
''')

In [34]:
## insert the data in sqlite table
cursor.execute('''
insert into employees(name,age,department)
values('chetan',20,'artificial intelligence and data science(AI&DS)')
''')

cursor.execute('''
insert into employees(name,age,department)
values('gaurav',20,'electronics and telecommunication(ETC)')
''')

cursor.execute('''
insert into employees(name,age,department)
values('dhananjay',20,'information technology(IT)')
''')

## commit the changes
connection.commit()

In [35]:
## query the data form the table

cursor.execute('select *  from employees')
rows=cursor.fetchall()

## pirnt the queried data

for row in rows:
  print(row)

(1, 'chetan', 20, 'artificial intelligence and data science')
(2, 'chetan', 20, 'artificial intelligence and data science(AI&DS)')
(3, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(4, 'dhananjay', 20, 'information technology(IT)')
(5, 'chetan', 20, 'artificial intelligence and data science(AI&DS)')
(6, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(7, 'dhananjay', 20, 'information technology(IT)')
(8, 'chetan', 20, 'artificial intelligence and data science(AI&DS)')
(9, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(10, 'dhananjay', 20, 'information technology(IT)')
(11, 'chetan', 20, 'artificial intelligence and data science(AI&DS)')
(12, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(13, 'dhananjay', 20, 'information technology(IT)')
(14, 'chetan', 20, 'artificial intelligence and data science(AI&DS)')
(15, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(16, 'dhananjay', 20, 'information technology(IT)')

In [39]:
## update the data in the table

cursor.execute('''
update employees
set age=21
where name="chetan"
''')
connection.commit()

In [41]:
## query the data form the table

cursor.execute('select *  from employees')
rows=cursor.fetchall()

## pirnt the queried data

for row in rows:
  print(row)

(1, 'chetan', 21, 'artificial intelligence and data science')
(2, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(3, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(4, 'dhananjay', 20, 'information technology(IT)')
(5, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(6, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(7, 'dhananjay', 20, 'information technology(IT)')
(8, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(9, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(10, 'dhananjay', 20, 'information technology(IT)')
(11, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(12, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(13, 'dhananjay', 20, 'information technology(IT)')
(14, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(15, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(16, 'dhananjay', 20, 'information technology(IT)')

In [49]:
## delete the data from the table

cursor.execute('''
DELETE from employees
where name = 'dhananjay'
''')

In [50]:
## query the data form the table

cursor.execute('select *  from employees')
rows=cursor.fetchall()

## pirnt the queried data

for row in rows:
  print(row)

(1, 'chetan', 21, 'artificial intelligence and data science')
(2, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(3, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(5, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(6, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(8, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(9, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(11, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(12, 'gaurav', 20, 'electronics and telecommunication(ETC)')
(14, 'chetan', 21, 'artificial intelligence and data science(AI&DS)')
(15, 'gaurav', 20, 'electronics and telecommunication(ETC)')