# ***3_module_data_sturctures_assignments***

In [ ]:
## creating and accessing lists
## Qustion 1 : create  a list of the first 20 positive integers. print the list

chetan = list(range(1,21))
print(chetan)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
## accessing list elements
## Qusetion : print the first,middle,and last elemen-ts of the list created in above question 1

print(f"first element",{chetan[0]})
print(f"middle element",{chetan[len(chetan)//2]})
print(f"last element",{chetan[-1]})

first element {1}
middle element {11}
last element {20}

In [ ]:
## list slicing
## Question : print the first five elements, and the elements from index 5 to 15 of the list created in quesiton1

print(chetan[:5])
print(chetan[15:])
print(chetan[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
## list comprehension
## Question : create a new list containing the squares of the first 10 positive integers using a list comprehension. print the new list

lst=[]
for x in range(10):
  lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## filtering lists
## Question : create a new list containing only the even numbers form the list created in question using a list comprehension. print the new list

evens = [x for x in chetan if x%2==0]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
## list methods
## Question : create ,a list of random numbers and sort it in ascending and descending order.remove the duplicates from the list and print the modified list.

import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [5, 12, 2, 10, 5, 17, 15, 6, 11, 5, 15, 12, 12, 1, 8]
Sorted in ascending order: [1, 2, 5, 5, 5, 6, 8, 10, 11, 12, 12, 12, 15, 15, 17]
Sorted in descending order: [17, 15, 15, 12, 12, 12, 11, 10, 8, 6, 5, 5, 5, 2, 1]
List with duplicates removed: [1, 2, 5, 6, 8, 10, 11, 12, 15, 17]

In [ ]:
## nested methods
## Question : create a nested list representing a 3x3 matrix and print the matrix access and print the element at the second row and third column

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix)
for row in matrix:
  print(row)
print(f"element at the second row and third column",{matrix[1][2]})

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
element at the second row and third column {6}

In [50]:
## list of dictionaries
## Question : Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

students = [
    {'name':'chetan','score':78},
    {'name': 'don','score':65},
    {'name':'rao','score':72},
    {'name':'kartik','score':79}
]
sorted_students = sorted(students, key=lambda x: x['score'],reverse = True)
print("sorted students by score in descending order:")
for student in sorted_students:
  print(student)

sorted students by score in descending order:
{'name': 'kartik', 'score': 79}
{'name': 'chetan', 'score': 78}
{'name': 'rao', 'score': 72}
{'name': 'don', 'score': 65}

In [18]:
## matrix transposition
## Question : Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

def transpose_matrix(matrix):
  transposed=[[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
  return transposed
matrix = [
    [3, 4, 5],
    [8, 7, 5],
    [4, 2, 1]
]
transpose_matrix = transpose_matrix(matrix)
print("original matrix")
for row in matrix:
  print(row)
print("transposed matrix:")
for row in transpose_matrix:
  print(row)

original matrix
[3, 4, 5]
[8, 7, 5]
[4, 2, 1]
transposed matrix:
[3, 8, 4]
[4, 7, 2]
[5, 5, 1]

In [19]:
## flattening a nested list
## Question : write a function that takes a nested list and flattens it into a single list. print the original and falttened list.

def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]