In [ ]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [ ]:
numbers=tuple([1,2,3,4,5,6,])
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
list((1,2,3,4,5,6,))

[1, 2, 3, 4, 5, 6]

In [ ]:
mixed_tuple=(1,"chetan",2.14,True)
print(mixed_tuple)

(1, 'chetan', 2.14, True)

In [ ]:
## accessing tuple
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
numbers[2]

3

In [ ]:
numbers[-1]

6

In [ ]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [ ]:
## tuple operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'chetan', 2.14, True)

In [ ]:
mixed_tuple*3

(1, 'chetan', 2.14, True, 1, 'chetan', 2.14, True, 1, 'chetan', 2.14, True)

In [ ]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [ ]:
## immutable nature of tuples
## tuples are immutable, meaning their elements cannot be changed once assigned

numbers[1]
numbers[1]="nagpur"

TypeError: 'tuple' object does not support item assignment

In [ ]:
numbers

(1, 2, 3, 4, 5, 6)

In [ ]:
## tuple methods
print(numbers.count(1))
print(numbers.index(4))

1
3

In [ ]:
## packing and unpacking tuple
## packing tuple
packed_tuple=1,"chetan",21.21
print(packed_tuple)

(1, 'chetan', 21.21)

In [ ]:
## unpacking tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
chetan
21.21

In [ ]:
## unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers

print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## nested tuple

nested_tuple=((1,2,3),("chetan","dipchand","bhagat"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][1])

(1, 2, 3)
dipchand

In [ ]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
  for item in sub_tuple:
    print(item,end=" ")
  print()

1 2 3
chetan dipchand bhagat
True False