In [ ]:
## create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [ ]:
my_empty_set=set([1,2,3,6,3,2,1,4,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
 ## basics sets operation
 ## adding and removing elements

 my_set.add(6)
 print(my_set)
 my_set.add(6)
 print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [ ]:
## remove the elements from a set
my_set={1,2,3,4,5}
my_set.remove(4)
print(my_set)

{1, 2, 3, 5}

In [ ]:
 ## pop method
 removed_element=my_set.pop()
 print(removed_element)
 print(my_set)

1
{2, 3, 5}

In [ ]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [ ]:
## set membership test
my_set={1,2,3,4,5}
print(5 in my_set)
print(11 in my_set)

True
False

In [ ]:
   ## mathematical operation
   set1={1,2,3,4,5,6}
   set2={5,6,7,8,9,10}

   ## union
   union_set=set1.union(set2)
   print(union_set)

   ## intersection
   intersection_set=set1.intersection(set2)
   print(intersection_set)

   ## diffrence
   print(set1.difference(set2))

   ## symetric difference
   set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{5, 6}
{1, 2, 3, 4}

{1, 2, 3, 4, 7, 8, 9, 10}

In [ ]:
## sets methods
set1={1,2,3,4,5}
set2={3,4,5}

print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [ ]:
## counting unique word in text

text="in this tutorial we are discussing about sets"
words=text.split()

## convert list of words to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

{'sets', 'tutorial', 'we', 'this', 'discussing', 'about', 'in', 'are'}
8