In [53]:
## creating dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [54]:
student={"name":"chetan","age":20}
print(student)
print(type(student))

{'name': 'chetan', 'age': 20}
<class 'dict'>

In [55]:
## accessing dictionary elements
student={"name":"chetan","age":20,"grade":"A"}
print(student)

{'name': 'chetan', 'age': 20, 'grade': 'A'}

In [56]:
## accessing dictionary elements
print(student["grade"])
print(student["name"])

## accessing using get()method
print(student.get("grade"))
print(student.get("last_name"))
print(student.get("last_name","not available"))

A
chetan
A
None
not available

In [57]:
## modifying dictionary elements
## dictionary are mutable,so you can add,update or delete elements
print(student)

{'name': 'chetan', 'age': 20, 'grade': 'A'}

In [58]:
student["age"]=21 ## update value for the key
print(student)
student["address"]="india" ##added a new key and value
print(student)

{'name': 'chetan', 'age': 21, 'grade': 'A'}
{'name': 'chetan', 'age': 21, 'grade': 'A', 'address': 'india'}

In [59]:
del student['grade'] ## delete key and value pair
print(student)

{'name': 'chetan', 'age': 21, 'address': 'india'}

In [60]:
## dictionary methods

keys=student.keys() ## get all the keys
print(keys)
values=student.values() ## get all the values
print(values)
items=student.items() ## get all the key value pair
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['chetan', 21, 'india'])
dict_items([('name', 'chetan'), ('age', 21), ('address', 'india')])

In [61]:
## sahllow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'chetan', 'age': 21, 'address': 'india'}
{'name': 'chetan', 'age': 21, 'address': 'india'}

In [62]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'chetan', 'age': 21, 'address': 'india'}
{'name': 'chetan', 'age': 21, 'address': 'india'}

In [63]:
student["name"]="chetan2"
print(student_copy1)
print(student)

{'name': 'chetan', 'age': 21, 'address': 'india'}
{'name': 'chetan2', 'age': 21, 'address': 'india'}

In [64]:
## iterating over dictionaries
## you can use loops to iterate over dictionaries ,keys,values,or items

## iterating over keys
for keys in student.keys():
  print(keys)

name
age
address

In [65]:
## iterate over values
for value in student.values():
  print(value)

chetan2
21
india

In [66]:
## iterate over key value pairs
for key,value in student.items():
  print(f"{key}:{value}")

name:chetan2
age:21
address:india

In [67]:
## nested dictionaries
students={
    "student1":{"name":"chetan","age":20},
    "student2":{"name":"naruto","age":21}
}
print(students)

{'student1': {'name': 'chetan', 'age': 20}, 'student2': {'name': 'naruto', 'age': 21}}

In [68]:
## access nested dictionaries elements
print(students["student2"]["name"])
print(students["student2"]["age"])

naruto
21

In [69]:
## iterating over nested dictionaries
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'chetan', 'age': 20}
name:chetan
age:20
student2:{'name': 'naruto', 'age': 21}
name:naruto
age:21

In [70]:
## dictionary comphrehension
squares={x:x**2 for x  in range (5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [71]:
## condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [72]:
## practical examples

## use a dictionary to count the frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
      frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [73]:
## merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}