In [60]:
## example : 1
## Create a tuple with the first 10 positive integers

num = tuple(range(1, 11)) # Use the built-in tuple function
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [61]:
## accessing tuple elements
## print the first, middle, last elements of the tuple created in example 1

print(f"first element",num[0])
print(f"middle element",num[len(num)//2])
print(f"last element",num[-1])

first element 1
middle element 6
last element 10

In [62]:
## tuple slicing
## print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in example 1

print(f"first three elements",num[:3])
print(f"last three elements",num[-3:])
print(f"elements from index 2 to 5",num[2:5])

first three elements (1, 2, 3)
last three elements (8, 9, 10)
elements from index 2 to 5 (3, 4, 5)

In [63]:
## nested tuples
## created a nested tuple representing a 3x3 matrix and print the matrix access and print the element at the second row and third column

lum = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(lum)
for row in lum:
  print(row)
print({lum[1][2]})

((1, 2, 3), (4, 5, 6), (7, 8, 9))
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
{6}

In [64]:
## tuple conacatenation
## concatenate two tuples: (1,2,3) and (4,5,6) print the resulting tuple

tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)
concatenated = tpl1 + tpl2
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [65]:
## tuple methods
## create a tuple with duplicate elements and count the occurrences of an element find the index of the first occurrence of an element in the tuple

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

Occurrences of 4: 3
Index of first occurrence of 2: 1

In [66]:
## unpacking tuples
## create a tuple with 5 elements and unpack it into 5 variables print the variables

tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [67]:
## tuple and list
## create a tuple with the first 5 positive integers. convert it to a list, append the number 6, and convert it back to a tuple. print the resulting tuple

tpl = (1, 2, 3, 4, 5)
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [68]:
## tuple and string
## create a tuple with the character of a string join the tuple elements into a single string print the string

string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [69]:
## tuple and set
## create a tuple with duplicate elements. convert it to a set to remove duplicates and print the resulting set

tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

In [70]:
## tuple and dictionary
## create a dictionary with tuple keys and integer values print the dictionary

tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [71]:
## nested tuple iteration
## create a nested tuple and iterate over the elements, printing each element

nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [72]:
## tuple functions
## write functions that take a tuple and return the mininmum, maximum, and sum of the elements. print the results for a sample tuple

def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15